@{
    ViewData["Title"] = "Blokada konta użytkownika";
}

<header>
    <h1 class="text-danger">Blokada konta użytkownika</h1>
    <p class="text-danger">To konto zostało zablokowane. Skontaktuj się z administratorem systemu.</p>
</header>
