body {
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: calc(100vh - 10px);
	overflow-y: scroll
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 10px;
	padding-right: 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 360px;
}

.validation-messages {
	max-width: 360px;
	font-weight: bold;
}


/* Increase container size on >1600px screens */
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

/* Increase teable defautl font size */
.table {
	font-size: 14px;
}

/* Accounts management styles */
.accoutns-names {
	width: auto !important;
	padding: 6px 12px;
}

.accounts-icon-hidden {
	visibility: hidden;
}

/* Navigation pills styles */
.group-pill {
	font-weight: bold;
}