body {
	max-height: calc(100vh - 10px);
	overflow-y: scroll
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding: 10px 10px 50px 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 400px;
}

/* Set widths on the form inputs to 100% wide */
input.wide,
select.wide,
textarea.wide {
	max-width: none;
}

.inupt-bold {
	font-weight: bold;
}

.notes-textarea {
	min-height:200px;
}

.validation-messages {
	max-width: 360px;
	font-weight: bold;
}


/* Increase container size on bigger screens */
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

@media (min-width: 1800px) {
	.container {
		width: 1700px;
	}
}

/* Increase table default font size */
.table {
	font-size: 14px;
}

/* Add table styling */
.thead-inverse {
	background: #d9edf7;
}

.thead-inverse:hover {
	background: #c4e3f3;
}

.status-icon-width {
	min-width: 36px;
	width: 36px;
}

.customer-code-width {
	min-width: 80px;
	width: 80px;
}

.sign-width {
	min-width: 40px;
	width: 40px;
}

.percent-width {
	min-width: 60px;
	width: 60px;
}

.value-width {
	min-width: 110px;
	width: 110px;
}

.service-item-set-rows-marker > tbody:nth-of-type(even) {
	background-color: #fafafa;
}

/* Increase default icon font size */
.big-icon {
	font-size: 25px;
}

/* Accounts management styles */
.accoutns-names {
	width: auto !important;
	padding: 6px 12px;
}

.accounts-icon-hidden {
	visibility: hidden;
}

/* Navigation pills styles */
.group-pill {
	font-weight: bold;
}