<div class="panel panel-default panel-primary">
  <div class="panel-heading clearfix">
    <div class="panel-title pull-left">{{title}}</div>
    <div class="pull-right" [hidden]="!isBusy">
      <!-- Loading spinner -->
      <div id="loadFacebookG">
        <div id="blockG_1" class="facebook_blockG"></div>
        <div id="blockG_2" class="facebook_blockG"></div>
        <div id="blockG_3" class="facebook_blockG"></div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <p>
        <a [routerLink]="['/customer', currentCustomerId, 'serviceItemsSet', 'new']" class="btn btn-primary">Dodaj zestaw usług</a>
    </p>

    <!-- Customer -->
      <table class="table table-hover">

        <!-- Service Items Sets -->
        <tbody *ngFor="let serviceItemsSet of filteredServiceItemsSets">
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="3">{{serviceItemsSet.name}}</td>
              <td class="text-center status-icon-width">
                <a [routerLink]="['/customer', serviceItemsSet.customerId, 'serviceItemsSet', serviceItemsSet.id]">
                  <i class="glyphicon glyphicon-edit text-success"></i>
                </a>
              </td>
              <td class="text-center text-danger status-icon-width">
                <i (click)="deleteServiceItemsSet(serviceItemsSet.customerId, serviceItemsSet.id, serviceItemsSet)" class="glyphicon glyphicon-remove remove-icon"></i>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
