<div class="panel panel-default panel-primary">
  <div class="panel-heading">Kontrahenci</div>
  <div class="panel-body">
    <p>
      <a routerLink="/customer/new" class="btn btn-primary">Dodaj kontrahenta</a>
      <i (click)="toggleShowArchived()" class="glyphicon glyphicon-lock big-icon pull-right" [class.text-primary]="showArchived" [title]="showArchived ? 'Ukryj zarchiwizowanych' :'Pokaż zarchiwizowanych'"></i>
    </p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Kod</th>
          <th>Nazwa</th>
          <th>Lokalizacja</th>

          <th class="text-center">Edytuj</th>
          <th class="text-center">Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <template [ngIf]="(showArchived && customer.isArchived == true) || customer.isArchived == false">
            <td class="text-center text-danger">
              <i *ngIf="customer.isBlocked" class="glyphicon glyphicon-remove-circle text-danger" title="Zablokowany"></i>
            </td>
            <td class="text-center text-danger">
              <i *ngIf="customer.isSuspended" class="glyphicon glyphicon-ban-circle text-warning" title="Zawieszony"></i>
            </td>
            <td class="text-center text-danger">
              <i *ngIf="customer.isArchived" class="glyphicon glyphicon-lock text-primary" title="Zarchiwizowany"></i>
            </td>
            <td><strong>{{ customer.customerCode }}</strong></td>
            <td><strong>{{ customer.name }}</strong></td>
            <td>{{ customer.location }}</td>
            <td class="text-center">
              <a [routerLink]="['/customer', customer.id]">
                <i class="glyphicon glyphicon-edit text-success"></i>
              </a>
            </td>
            <td class="text-center text-danger">
              <i (click)="deleteCustomer(customer)" class="glyphicon glyphicon-remove"></i>
            </td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
