<div class="panel panel-default panel-primary">
  <div class="panel-heading">Kontrahenci</div>
  <div class="panel-body">
    <p>
      <a routerLink="/customer/new" class="btn btn-primary">Dodaj kontrahenta</a>
      <input #filterTermInput class="form-control pull-right" placeholder="Szukaj..." [(ngModel)]="filterTerm" (input)="filterCustomers(filterTermInput.value)">
      <i (click)="toggleShowArchived()" class="glyphicon glyphicon-folder-open big-icon pull-right" [style.color]="showArchived ? '#008cba' : '#c4e3f3' " [title]="showArchived ? 'Ukryj zarchiwizowanych' :'Pokaż zarchiwizowanych'"></i>
    </p>

    <!-- Loading spinner -->
    <div *ngIf="isBusy" class="spinner"><div class="cube1"></div><div class="cube2"></div></div>
    <div *ngIf="!isBusy">

      <!-- Customers -->
      <template ngFor let-customer [ngForOf]="filteredCustomers">
        <table class="table table-hover service-item-set-rows-marker" *ngIf="(showArchived && customer.isArchived == true) || customer.isArchived == false">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center text-danger status-icon-width">
                <i *ngIf="customer.isBlocked" class="glyphicon glyphicon-remove-circle text-danger" title="Zablokowany"></i>
              </th>
              <th class="text-center text-danger status-icon-width">
                <i *ngIf="customer.isSuspended" class="glyphicon glyphicon-ban-circle text-warning" title="Zawieszony"></i>
              </th>
              <th class="text-center text-danger status-icon-width">
                <i *ngIf="customer.isArchived" class="glyphicon glyphicon-folder-open text-primary" title="Zarchiwizowany"></i>
              </th>
              <th class="customer-code-width"><strong>{{ customer.customerCode }}</strong></th>
              <th class="text-left" title="{{ customer.notes }}"><strong>{{ customer.name }}</strong> <span class="glyphicon glyphicon-info-sign notes-indicator" title="{{ customer.notes }}" *ngIf="customer.notes"></span></th>
              <th class="text-right">{{ customer.location }}</th>
              <th colspan="6"></th>
              <th class="text-center status-icon-width">
                <a [routerLink]="['/customer', customer.id, 'subscriptionServiceItem', 'new']" title="Dodaj usługę abonamentową">
                  <i class="glyphicon glyphicon-plus text-primary"></i>
                </a>
              </th>
              <th class="text-center status-icon-width">
                <a [routerLink]="['/customer', customer.id, 'oneTimeServiceItem', 'new']" title="Dodaj usługę jednorazową">
                  <i class="glyphicon glyphicon-plus text-info"></i>
                </a>
              </th>
              <th class="text-center status-icon-width">
                <a [routerLink]="['/customer', customer.id]">
                  <i class="glyphicon glyphicon-edit text-success"></i>
                </a>
              </th>
              <th class="text-center text-danger status-icon-width">
                <i (click)="deleteCustomer(customer)" class="glyphicon glyphicon-remove"></i>
              </th>
            </tr>
          </thead>

          <!-- Service Items Sets -->
          <tbody *ngFor="let serviceItemsSet of customer.serviceItemsSets">

            <!-- Subscription Service Items -->
            <tr *ngFor="let subscriptionServiceItem of serviceItemsSet.subscriptionServiceItems" [hidden]="!((showArchived && subscriptionServiceItem.isArchived == true) || subscriptionServiceItem.isArchived == false)">
                <td class="text-center text-danger status-icon-width">
                  <i *ngIf="subscriptionServiceItem.isBlocked" class="glyphicon glyphicon-remove-circle text-danger" title="Zablokowany"></i>
                </td>
                <td class="text-center text-danger status-icon-width">
                  <i *ngIf="subscriptionServiceItem.isSuspended" class="glyphicon glyphicon-ban-circle text-warning" title="Zawieszony"></i>
                </td>
                <td class="text-center text-danger status-icon-width">
                  <i *ngIf="subscriptionServiceItem.isArchived" class="glyphicon glyphicon-folder-open text-primary" title="Zarchiwizowany"></i>
                </td>
                <td colspan="3">{{subscriptionServiceItem.name}} - {{subscriptionServiceItem.subName}} <span class="glyphicon glyphicon-info-sign notes-indicator" title="{{ subscriptionServiceItem.notes }}" *ngIf="subscriptionServiceItem.notes"></span></td>
                <td class="text-right value-width"><strong>{{subscriptionServiceItem.quantity}}</strong></td>
                <td class="text-center sign-width"> x </td>
                <td class="text-right value-width"><strong>{{subscriptionServiceItem.netValue | currency:'PLN':false:'1.2-2'}}</strong></td>
                <td class="text-center sign-width"> + </td>
                <td class="text-right percent-width"><strong>{{subscriptionServiceItem.vatRate | number:'1.0-2'}} %</strong></td>
                <td class="text-center sign-width"> = </td>
                <td class="text-right value-width" colspan="2"><strong>{{subscriptionServiceItem.grossValueAdded | currency:'PLN':false:'1.2-2'}}</strong></td>
                <td class="text-center status-icon-width">
                  <a [routerLink]="['/customer', customer.id, 'serviceItemsSet', serviceItemsSet.id, 'subscriptionServiceItem', subscriptionServiceItem.id]">
                    <i class="glyphicon glyphicon-edit text-success"></i>
                  </a>
                </td>
                <td class="text-center text-danger status-icon-width">
                  <i (click)="deleteSubscriptionServiceItem(customer.id, serviceItemsSet.id, subscriptionServiceItem.id, subscriptionServiceItem)" class="glyphicon glyphicon-remove"></i>
                </td>
            </tr>

            <!-- One Time Service Items -->
            <tr *ngFor="let oneTimeServiceItem of serviceItemsSet.oneTimeServiceItems" [hidden]="!((showArchived && oneTimeServiceItem.isArchived == true) || oneTimeServiceItem.isArchived == false)">
              <td class="text-center text-danger status-icon-width">
                <i *ngIf="oneTimeServiceItem.isBlocked" class="glyphicon glyphicon-remove-circle text-danger" title="Zablokowany"></i>
              </td>
              <td class="text-center text-danger status-icon-width">
                <i *ngIf="oneTimeServiceItem.isSuspended" class="glyphicon glyphicon-ban-circle text-warning" title="Zawieszony"></i>
              </td>
              <td class="text-center text-danger status-icon-width">
                <i *ngIf="oneTimeServiceItem.isArchived" class="glyphicon glyphicon-folder-open text-primary" title="Zarchiwizowany"></i>
              </td>
              <td colspan="3" title="{{ subscriptionServiceItem.notes }}">{{oneTimeServiceItem.name}} - {{oneTimeServiceItem.subName}} <span class="glyphicon glyphicon-info-sign notes-indicator" title="{{ oneTimeServiceItem.notes }}" *ngIf="oneTimeServiceItem.notes"></span></td>
              <td class="text-right value-width"><strong>{{oneTimeServiceItem.quantity}}</strong></td>
              <td class="text-center sign-width"> x </td>
              <td class="text-right value-width"><strong>{{oneTimeServiceItem.netValue | currency:'PLN':false:'1.2-2'}}</strong></td>
              <td class="text-center sign-width"> + </td>
              <td class="text-right percent-width"><strong>{{oneTimeServiceItem.vatRate | number:'1.0-2'}} %</strong></td>
              <td class="text-center sign-width"> = </td>
              <td class="text-right value-width" colspan="2"><strong>{{oneTimeServiceItem.grossValueAdded | currency:'PLN':false:'1.2-2'}}</strong></td>
              <td class="text-center status-icon-width">
                <a [routerLink]="['/customer', customer.id, 'serviceItemsSet', serviceItemsSet.id, 'oneTimeServiceItem', oneTimeServiceItem.id]">
                  <i class="glyphicon glyphicon-edit text-success"></i>
                </a>
              </td>
              <td class="text-center text-danger status-icon-width">
                <i (click)="deleteOneTimeServiceItem(customer.id, serviceItemsSet.id, oneTimeServiceItem.id, oneTimeServiceItem)" class="glyphicon glyphicon-remove"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>
</div>
</div>
